# Browsers que queremos suportar
> 0.2%
not dead
not op_mini all
not ie <= 11
not ie_mob <= 11

# Versões específicas
and_chr 96
and_ff 95
and_uc 12.12
android 96
chrome 97
chrome 96
edge 97
edge 96
firefox 95
firefox 94
firefox 91
ios_saf 15.2
ios_saf 15.0-15.1
ios_saf 14.5-14.8
op_mini all
opera 82
opera 81
safari 15.2
safari 15.1
safari 14.1
samsung 15.0
samsung 14.0
